<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扫码下载</title>
    <style>
        .tips {
            margin: 150px 0 50px;
            font-size: 30px;
            text-align: center;
        }
        .qrcode {
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div class="tips">请扫描下方二维码下载华校APP</div>
    <img class="qrcode" src="http://interact.hbeducloud.com/media/public/packages/mobile.png">
</body>
</html>